.list-etape-main{
    margin-left: 20px;
    margin-right: 10px;
    //overflow: scroll;

}

.ant-timeline-item.timeLineItem{
    padding-bottom: 0px;
}

.label-date{
    text-align: left;
}

.etape{
        // TODO : on doit pouvoir faire mieux que forcer avec important
        display: list-item !important;
}