.list-etape-main{
    margin-left: 20px;
    overflow: scroll;

}

.ant-timeline-item.timeLineItem{
    padding-bottom: 0px;
}

.label-date{
    text-align: left;
}

.etape{
        display: list-item !important;
}